@charset "utf-8";

form input, select
{
  margin-top: 2px;
  margin-bottom: 5px;
}


.botonsubmit
{
  margin-left: 172px;
  margin-top: 20px;
}


#dialogdiv, #selector, #dialogdiv3
{
  margin-top: 10px;
}

.detalles td
{
 border-bottom: 1px solid #000000; 
}


/* css for timepicker */
#ui-timepicker-div dl{ text-align: left; }
#ui-timepicker-div dl dt{ height: 25px; }
#ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#fullscreen{
  display:none;
  background-color:#000000;
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;

  /*set the div in the top-left corner of the screen*/
  position:absolute;
  top:0;
  left:0;
    
  /*set the width and height to 100% of the screen*/
  width:100%;
  height:100%;
}

#loader
{
  position:absolute;
  top:50%;
  left:50%;
}




#tabs li.megaestiloselected a {
	background-color:#b9e6ff;
	border-bottom: 0px solid #ffffff;
}

.megaestiloselected {
	background-color:#ffffff;
}

#tabs li .selected:hover {
	background-color:#ffffff;
}


.container
{
  height: 121px; 
  overflow:auto;
}

.resultbox {  
	list-style:none;
	margin:0;
	padding:0;
}

tr.navon {
background-color: #b9e6ff;
cursor: hand}
tr.navoff {
background-color: #e6e6e6;
cursor: hand}




/* CSS Document */

body {
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	min-width:770px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

img {
	border:none;
}

#header {
	background-image:url(../img/logo.jpg);
	background-repeat:no-repeat;
	background-color:#9bc8e1;
	height:40px;
}

#header .user {
	float:right;
	padding:12px 10px 0 0;
}

.col {
	width:50%;
	float:left;
}

.col .container {
	border:#647d96 solid 1px;
	border-bottom:none;
	padding:10px;
	padding:15px 10px 15px 10px;
	margin-bottom:-12px;
}

.col .container .box {
	border:1px solid #b4b4b4;
	padding:10px;
	margin:-6px 0 5px 0;
	height:100px;
}

.col .container .box .title {
	background-color:#dcdcdc;
	color:#000000;
	margin:0 0 10px 0;
	padding:10px 5px 10px 5px;
}

.col .container .box .title:hover {
	background-color:#646464;
	color:#ffffff;
}

.col .container .box .title
label {
	float:left;
	font-weight:bold;
}

.col .container .box .data {
	float:left;
	width:50%;
}

.col .container .box .data
table td, table th {
	border:1px solid #e6e6e6;
	padding:4px;
	margin:0px;
}

.col .container .box .status {
	float:left;
	width:50%;
	text-align:right;
}

.col .container .box .status 
input, select {
	border:1px solid #e6e6e6;
	padding:2px;
	width:120px;
}

.col .container .box .status 
label {
	color:#000000;
	font-size:12px;
	line-height:24px;
}

.col .container .box .status img {
	margin:10px 5px 0 0;
	vertical-align:text-bottom;
}

.split-bar {
	clear:both;
	margin:0px;
	padding:0px;
	height:5px;
	background-color:#9bc8e1;
}

.split {
	clear:both;
	margin:0px;
	padding:0px;
}

.row {
	border:1px solid #b4b4b4;
	padding:10px;
}

.row
label {
	float:left;
}

.status-icons {  
	float:right;
	margin-top:1px;
}

.status-icons .st-blue {
	width:14px;
	height:14px;
	background-color:#6496c8;
	margin:0 2px 0 2px;
	float:left;
}

.status-icons .st-yellow {
	width:14px;
	height:14px;
	background-color:#fafa00;
	margin:0 2px 0 2px;
	float:left;
}

.status-icons .st-red {
	width:14px;
	height:14px;
	background-color:#c83232;
	margin:0 2px 0 2px;
	float:left;
}

#area {
	padding:5px 10px 0 10px;
	border-bottom:#b4b4b4 solid 1px;
	background-color:#f5f5f5;
	margin-bottom:15px;
}

#tabs {  
	list-style:none;
	margin:0;
	padding:0;
}

#tabs li {
	float:left;
	margin-bottom:-1px;
}

#tabs li a {
	display:block;
	width:auto;
	padding:10px 15px 10px 15px;
	margin:0 4px 0 0;
	text-decoration:none;
	text-align:center;
	font-size:12px;
	color:#000000;
	background-color:#e6e6e6;
	border:#b4b4b4 solid 1px;
}

#tabs li a:hover {
	background-color:#b9e6ff;
}

#tabs li .selected {
	font-weight:bold;
	background-color:#ffffff;
	border-bottom:#ffffff solid 1px;
}

#login {
	width:300px;
	height:200px;
	border:1px solid #b4b4b4;
	background-color:#ffffff;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-150px;
	margin-top:-100px;
}

#login h1 {
	padding:10px 5px 10px 5px;
	margin:1px;
	background-color:#e6e6e6;
	font-size:12px;
}

#login .content {
	text-align:right;
	padding:25px 45px 0 0;
}

#login .content 
label {
	color:#000000;
	font-size:12px;
}

#login .content 
label span {
	color:#ff0000;
	font-size:11px;
}

#login .content 
input, select {
	border:1px solid #e6e6e6;
	padding:4px;
	/*margin:2px;*/
	#vertical-align:middle;
}

h1 {
	background-color:#647d96;
	border-top:#fff solid 1px;
	color:#fff;
	font-size:12px;
	margin:0px;
	padding:5px 10px 5px 10px;
}

.col .container .box .status 
label span {
	background-color:#646464;
	font-weight:bold;
	color:#fff;
	padding:5px;
}

.col .container .box-large {
	border:1px solid #b4b4b4;
	padding:10px;
	margin:-6px 0 5px 0;
	height:330px;
}

.col .container .empty {
	background-color:#f5f5f5;
	width:100%;
	height:100%;
}

.col .container .empty .box-L {
	font-weight:bold;
	color:#646464;
	text-align:center;
	padding-top:170px;
	margin:0px;
}

.col .container .empty .box-S {
	font-weight:bold;
	color:#646464;
	text-align:center;
	padding-top:44px;
	margin:0px;
}

.btn-new-class {
	float:right;
}

.btn-new-class a {
	display:block;
	padding:7px 15px 7px 15px;
	margin:0;
	text-decoration:none;
	text-align:center;
	font-size:12px;
	color:#000000;
	background-color:#e6e6e6;
	border:#b4b4b4 solid 1px;
}

.btn-new-class a:hover {
	background-color:#b9e6ff;
}


#btn-new {
	float:right;
}

#btn-new a {
	display:block;
	padding:7px 15px 7px 15px;
	margin:0;
	text-decoration:none;
	text-align:center;
	font-size:12px;
	color:#000000;
	background-color:#e6e6e6;
	border:#b4b4b4 solid 1px;
}

#btn-new a:hover {
	background-color:#b9e6ff;
}

#footer {
	border:#647d96 solid 1px;
	padding:10px;
	padding-top:5px;
	margin-top:-15px;
}

.shipmenu {
	float:right;
	margin-right:202px;
}

.shipmenu .dropdown {
	position:absolute;
	width:180px;
	margin-top:4px;
	margin-top:2px;
	z-index:4;
}

.shipmenu .items 
{
  display: none;
	position:absolute;
	width:180px;
	margin-top:32px;
	padding:5px 10px 5px 10px;
	border:#b4b4b4 solid 1px;
	background-color:#fff;
	z-index:4;
}

#menu .items ul {
	list-style:none;
	padding:0;
	margin:0;
}

#menu .items ul li {
	line-height:18px;
}




#planilla {
	width:900px;
	position:relative;
}

#planilla h1 {
	text-align:center;
	margin:20px 0 5px 0;
}

#planilla table {
	border:#b4b4b4 solid 1px;
	background-color:#fff;
	width:100%;
}

#planilla th {
	border:#dcdcdc solid 1px;
	background-color:#dcdcdc;
}

#planilla td {
	border:#dcdcdc solid 1px;
	background-color:#fff;
}

#planilla .header {
	margin-top:20px;
}

#planilla table {
	font-size:12px;
}

#planilla .header table {
	width:300px;
	float:right;
	font-size:11px;
}

#planilla .header .title {
	width:300px;
	float:left;
	font-size:12px;
	font-weight:bold;
	line-height:18px;
}

#planilla .header .date {
	width:300px;
	float:left;
	font-size:12px;
	font-weight:bold;
	line-height:18px;
	text-align:center;
}