<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="default" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.50.89)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=PRODUCC)));User Id=MBPC;Password=MBPC;"/>
    <!-- <add name="default" connectionString="Data Source=(DESCRIPTION=(CONNECT_DATA=(SERVICE_NAME=XE))(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521)));User Id=marciano;Password=248;"/>-->
  </connectionStrings>
  <appSettings>
    <add key="validate_users_ext" value="no"/>
  </appSettings>
  
</configuration>
